doctype html
html(lang="pt-br")
    head
        meta(charset="UTF-8")/
        meta(http-equiv="X-UA-Compatible", content="ie=edge")/
        meta(name="viewport", content="width=device-width, initial-scale=1.0")/
        meta(name="author", content="Bruno Carvalho Feitosa")/
        meta(name="description", content="E-commerce Nike para venda exclusiva do tênis Air Motion 2")/
        meta(name="keywords", content="Nike, E-commerce, Venda , Exclusiva, Tênis, Air Motion 2")/
        link(rel="stylesheet", type="text/css" href="css/index.css")/
        link(rel="icon", type="image/png", href="/images/fav.png")/
        title Nike | Venda exlusiva do tênis Air Motion 2
    body
        header.b-header
            nav.b-header__nav
                div.b-header__nav-toggle
                    svg(width="16" height="16" viewbox="0 0 16 16" fill="none" title="Nike" xmlns="http://www.w3.org/2000/svg")
                        circle(cx="3.33333" cy="3.33333" r="2.58333" stroke="#111111" stroke-width="1.5")
                        circle(cx="3.33333" cy="12.6667" r="2.58333" stroke="#111111" stroke-width="1.5")
                        circle(cx="12.6667" cy="3.33333" r="2.58333" stroke="#111111" stroke-width="1.5")
                        circle(cx="12.6667" cy="12.6667" r="2.58333" stroke="#111111" stroke-width="1.5")
                div.b-header__nav-brand
                    a(href="index.html")
                        svg(width="40" height="14" viewbox="0 0 40 14" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M22.4804 4.51489L19.9955 5.16737L13.1007 6.97233C10.6657 7.57481 8.53579 8.37729 6.48334 7.67481C3.69341 6.46984 3.74341 3.33492 5.82336 0C2.14595 3.03492 -4.47139 12.7397 4.47839 13.7197C5.61836 13.8697 7.64831 13.4697 9.85325 12.5422L19.9955 8.37979L40 0.199995L22.4804 4.51489Z" fill="#111111")
                div.b-header__nav-menu
                    ul
                        li
                            a(href="") Para Homem
                        li
                            a(href="") Para Mulher
                        li
                            a(href="") Para Criança
                        li
                            a(href="") Para Customizar
                        li
                            a(href="") Outlet
                div.b-header__nav-shop
                    div.b-header__nav-shop__bag-icon
                        svg(width="17" height="20" viewbox="0 0 17 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M13.3571 4.85714C13.3571 2.17892 11.1782 0 8.5 0C5.82174 0 3.64286 2.17892 3.64286 4.85714H0V16.3929C0 18.0694 1.35913 19.4286 3.03571 19.4286H13.9643C15.6409 19.4286 17 18.0694 17 16.3929V4.85714H13.3571ZM8.5 1.21429C10.5087 1.21429 12.1429 2.84845 12.1429 4.85714H4.85714C4.85714 2.84845 6.49131 1.21429 8.5 1.21429ZM15.7857 16.3929C15.7857 17.3972 14.9686 18.2143 13.9643 18.2143H3.03571C2.03139 18.2143 1.21429 17.3972 1.21429 16.3929V6.07143H3.64286V7.89286C3.64286 8.22819 3.91471 8.5 4.25 8.5C4.58529 8.5 4.85714 8.22819 4.85714 7.89286V6.07143H12.1429V7.89286C12.1429 8.22819 12.4147 8.5 12.75 8.5C13.0853 8.5 13.3571 8.22819 13.3571 7.89286V6.07143H15.7857V16.3929Z" fill="#111111")
                    div.b-header__nav-shop__bag-qty
                        span 0
